html {
    background-image: linear-gradient(green, yellow, cyan);
    min-height: 100%;
    font-family: 'Garamond';
}

body {                
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.sheet {
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;  
    box-shadow: 5px 5px 10px black;              
}

.question-number {
    float: left;
    margin-right: 5px;
    font-weight: bold;
}

.question-text {
    font-style: italic;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.link-image {
    max-width: 256px;
    max-height: 256px;
    min-width: 128px;
    min-height: 128px;
}

.errors {
    color: red;
}

.text-input {
    width: 75px;
}

.long-text-input {
    width: 100%;
}