html {
    font-family: 'Garamond';
    background-color: #DDDDDD;
    font-size: 16px;
    background-image: linear-gradient(red, yellow, green);
}

@media screen and (max-width: 480px) {
    body {
        margin-left: 5%;
        margin-right: 5%;                
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        margin-left: 10%;
        margin-right: 10%;                
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    body {
        margin-left: 15%;
        margin-right: 15%;                
    }
}

@media screen and (min-width: 1201px) {
    body {
        margin-left: 20%;
        margin-right: 20%;                
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.sheet {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 5px 5px 5px black;
}

.title {
    font-size: 40px;
}

.section-title {
    font-size: 30px;
    margin-bottom: -8px;
}

.sub-section-title {
    font-size: 20px;
    margin-bottom: -8px;
}

.line {
    border: 1px solid #DDDDDD;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.flex {
    display: flex;
}

.p-1 {
    padding: 2px;
}

.p-2 {
    padding: 4px;
}

.p-3 {
    padding: 8px;
}

.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hint {
    cursor: help;
}

.hint:hover {
    color: red;
    transition-duration: 0.1s;
}

.highlight {
    background-color: #fff0cc;
    border-radius: 5px;
}

.quote {
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-style: italic;
    max-width: 50%;
    margin: auto;
    font-size: 18px;

    margin-top: 10px;
    margin-bottom: 10px;

    transition: background-color 0.3s, box-shadow 0.3s;
}

.quote:hover {
    background-color: #fff0cc;
    box-shadow: 5px 5px 10px black;
}

sup {
    color: #0077ff;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.return {
    color: #004f80;
    font-size: 18px;
}

.return::before {
    content: "< ";
    font-weight: bold;
}